.pagination {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}
.pagination button {
  padding: 10px 20px;
  margin: 0 5px;
  border: 1px solid #ddd;
  cursor: pointer;
}
.pagination button.active {
  background-color: #a01616;
  color: white;
  border-color: #a01616;
}
