/* .col1{
    background: linear-gradient(rgb(244, 231, 240), rgb(242, 68, 202)) 0% 0% / cover;
    
}
.col2{
    background: linear-gradient(rgb(214, 242, 228), rgb(72, 233, 128)) 0% 0% / cover;
}
.col3{
    background: linear-gradient(rgb(240, 247, 222), rgb(200, 230, 30)) 0% 0% / cover;
} */